{% extends "base.html" %}
{% block title %}Drinks{% endblock title %}


{% block body %}
<div class="album py-5 bg-body-tertiary">
  <h1 style="text-align:center; margin-bottom:50px;">Select from our range of <b>Drinks</b></h1>
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/d2.jpg" width="100%" height="300px" alt="chocolate icecream">
          <div class="card-img-overlay" style="color:white;">spices green tea</div>
          <div class="card-body">
            <p class="card-text">This is the spices green tea drink.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.70</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/d1.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">mojito</div>

          <div class="card-body">
            <p class="card-text">This is the mojito drink .</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/d3.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">cocacola</div>
          <div class="card-body">
            <p class="card-text">This is the cocacola drink.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.50</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/d4.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">cocktail</div>
          <div class="card-body">
            <p class="card-text">This is the cocktail.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.200</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/d5.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">ice tea</div>
          <div class="card-body">
            <p class="card-text">This is the ice tea.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.70</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/d6.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">hot milk tea</div>
          <div class="card-body">
            <p class="card-text">This is the hot milk tea.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.50</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/d7.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">beer</div>
          <div class="card-body">
            <p class="card-text">This is the beer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.150</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/d8.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">coffee</div>
          <div class="card-body">
            <p class="card-text">This is the coffee.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.70</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/d9.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">mocktail</div>
          <div class="card-body">
            <p class="card-text">This is the mocktail.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.150</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
