{% extends "base.html" %}
{% block title %}IceCreams{% endblock title %}


{% block body %}
<div class="album py-5 bg-body-tertiary">
  <h1 style="text-align:center; margin-bottom:50px;">Select from our range of <b>Ice Creams</b></h1>
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/i2.jpg" width="100%" height="300px" alt="chocolate icecream">
          <div class="card-img-overlay" style="color:white;">chocolate icecream</div>
          <div class="card-body">
            <p class="card-text">This is the chocolate icecream.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/i1.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">swiss roll icecream</div>

          <div class="card-body">
            <p class="card-text">This is the swis sroll icecream .</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/i3.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">gems icecream</div>
          <div class="card-body">
            <p class="card-text">This is the chocolate icecream with gems.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/i4.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">strawberry icecream</div>
          <div class="card-body">
            <p class="card-text">This is the fruit icecream with strawberry.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/i5.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">vanilla icecream</div>
          <div class="card-body">
            <p class="card-text">This is the vanilla icecream.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/i6.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">butterscotch icecream</div>
          <div class="card-body">
            <p class="card-text">This is the butterscotch icecream.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/i7.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">cup icecream</div>
          <div class="card-body">
            <p class="card-text">This is the cup icecream and the cup is also eatable.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/i8.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">chocolate roll icecream</div>
          <div class="card-body">
            <p class="card-text">This is the chocolate icecream with chocolate roll.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/i9.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">tri-flavour icecream</div>
          <div class="card-body">
            <p class="card-text">This is the three mix flavour icecream.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
