{% extends "base.html" %}
{% block title %}Shakes{% endblock title %}


{% block body %}
<div class="album py-5 bg-body-tertiary">
  <h1 style="text-align:center; margin-bottom:50px;">Select from our range of <b>Shakes</b></h1>
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/sk1.jpg" width="100%" height="300px" alt="chocolate icecream">
          <div class="card-img-overlay" style="color:white;">oreo shake</div>
          <div class="card-body">
            <p class="card-text">This is the oreo shake.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.100</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/sk2.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">mango shake</div>

          <div class="card-body">
            <p class="card-text">This is the mango shake.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.100</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/sk3.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">strawberry shake</div>
          <div class="card-body">
            <p class="card-text">This is the strawberry shake.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.100</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/sk4.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">chocolate shake</div>
          <div class="card-body">
            <p class="card-text">This is the chocolate shake.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.100</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/sk5.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">kiwi shake</div>
          <div class="card-body">
            <p class="card-text">This is the kiwi shake.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.120</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/sk6.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">mixed fruit shake</div>
          <div class="card-body">
            <p class="card-text">This is the mixed fruit shake.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.150</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/sk7.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">raspberry shake</div>
          <div class="card-body">
            <p class="card-text">This is the raspberry shake.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.120</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/sk8.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">charry shake</div>
          <div class="card-body">
            <p class="card-text">This is the charry shake.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.120</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/sk9.png" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">avocado shake</div>
          <div class="card-body">
            <p class="card-text">This is the avocado shake.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.200</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
