{% extends "base.html" %}
{% block title %}Softy{% endblock title %}


{% block body %}
<div class="album py-5 bg-body-tertiary">
  <h1 style="text-align:center; margin-bottom:50px;">Select from our range of <b>Softy</b></h1>
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/s2.jpg" width="100%" height="300px" alt="chocolate icecream">
          <div class="card-img-overlay" style="color:white;">strawberry softy</div>
          <div class="card-body">
            <p class="card-text">This is the strawberry flavour Softy.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/s1.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">vanilla softy</div>

          <div class="card-body">
            <p class="card-text">This is the vanilla flavour softy.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/s3.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">two mixed softy</div>
          <div class="card-body">
            <p class="card-text">This is the mixture for chocolate and raspberry.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.100</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/s4.png" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">butterscotch softy</div>
          <div class="card-body">
            <p class="card-text">This is the butterscotch flavour softy.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.70</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/s5.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">special chocolate softy</div>
          <div class="card-body">
            <p class="card-text">This is the special flavour softy.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.150</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/s6.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">chocolate and vanilla mixed softy</div>
          <div class="card-body">
            <p class="card-text">This is the flavour of two vanilla and chocolate.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.100</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/s7.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">chocolate softy</div>
          <div class="card-body">
            <p class="card-text">This is the chocolate flavour softy.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/s8.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:black;">blueberry softy</div>
          <div class="card-body">
            <p class="card-text">This is the blueberry flavour softy.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.50</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/pics/s9.jpg" width="100%" height="300px">
          <div class="card-img-overlay" style="color:white;">rainbow softy</div>
          <div class="card-body">
            <p class="card-text">This is the 7 mixed flavour softy.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/feedback" style="color:black; text-decoration:none">Feedback</a></button>
                <button type="button" class="btn btn-dark"><a href="/order" style="color:white; text-decoration:none">Order</a></button>
              </div>
              <small class="text-body-secondary">Rs.150</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
